body {background: #EEEEE5;}
.pad_bottom_medium {padding-bottom:20px;}
.pad_bottom_large {padding-bottom:20px;}
section {padding-top:60px;}
.orange-bk {background:#EF6C31;}
.blue-bk {background:#0B61A4;}
.green-bk {background:#00AF64;}
.white-fore {color:#fff;}
.hero-unit h1 {margin-bottom:30px;}
.hero-unit p {margin-bottom:10px;}
.rotate-unit {padding-left:120px;padding-right:120px;}
blockquote p {text-align:justify;font-size:13px;}