<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{site_title}</title>
	<meta name="description" content="{site_description}">
	<meta name="keywords" content="{site_keywords}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{site_url}css/bootstrap.css" rel="stylesheet">
	<link href="{site_url}css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{site_url}css/anecka.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body>
	<div id="navTop" class="navbar navbar-fixed-top">
    	<div class="navbar-inner">
        	<div class="container">
          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</a>
          		<a class="brand" href="#">Anecka</a>
          		<div class="nav-collapse">
            		<ul class="nav">
              			<li><a href="#welcome">welcome</a></li>
              			<li><a href="#our_work">our work</a></li>
              			<li><a href="#know_us_better">know us better</a></li>
						<li><a href="#talk_to_us">talk to us</a></li>
            		</ul>
          		</div><!--/.nav-collapse -->
        	</div>
      	</div>
	</div>
	<div class="container">
		{exp:channel:entries channel="Welcome" }
		<section id="welcome">
		<div class="hero-unit orange-bk white-fore">
        	<h1>{eyecatch}</h1>
        	<p id="tagline">{tagline}</p>
        	<p><a href="#our_work" class="btn btn-primary btn-large">See our work &raquo;</a></p>
      	</div>
		
		<!--end welcome (hero)-->
		<div class="row pad_bottom_large">
			{welcome_columns}
        	<div class="span4">
				<h2>{title}</h2>
	           <p>{content}</p>
	        </div>
			{/welcome_columns}
      	</div>
		<!-- end welcome -->
		</section>
		{/exp:channel:entries}
		<!--our work-->
		<section id="our_work">
			<div class="row pad_bottom_large">
				<h1 class="pad_bottom_medium span12">Our work</h1>
				<div class="tabbable tabs-left pad_bottom_large span12">
					<!--clients-->
					<ul class="nav nav-tabs span4">
						{exp:channel:categories category_group="1" show_empty="no" style="linear"}
							<li {if "{count}" == "1"}class="active"{/if}><a href="#tab{category_id}" data-toggle="tab">{category_name}</a></li>
						{/exp:channel:categories}
					</ul>
					<div class="tab-content span6">
						{exp:channel:categories category_group="1" show_empty="no" style="linear"}
							<div class="tab-pane fade {if "{count}" == "1"}in active{/if}" id="tab{category_id}">
								{embed="site/_projects" category_id="{category_id}"}
							</div>
						{/exp:channel:categories}
					</div>
				</div>
			</div>
		</section>
		<!-- end our work-->
		<!-- start "know us" -->
		<section id="know_us_better">
			<div id="know_us_better" class="row pad_bottom_large">
				<h1 class="span12 pad_bottom_medium">Know us better</h1>
				{exp:channel:entries channel="Staff"}
				<div class="span3">
					<img src="{staff_photo}" alt="{title}" style="border-radius: 6px;">
				</div>
				<div class="span8">
					<h3>{title} : {staff_role}</h1>
					<hr/>
					{staff_bio}
				</div>
				{/exp:channel:entries}
			</div>
		</section>
		<!-- end "know us" -->
		<!-- talk to us -->
		<section id="talk_to_us">
			<div class="row pad_bottom_large">
				<h1 class="span12 pad_bottom_medium">Talk to us</h1>
				<!--
				<div class="span4">
					<form class="well">
					  <label>Label name</label>
					  <input type="text" class="span3" placeholder="Type something…">
					  <span class="help-block">Example block-level help text here.</span>
					  <label class="checkbox">
					    <input type="checkbox"> Check me out
					  </label>
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>
				-->
				<div class="span4">
					<p>email<br/>
						<a href="mailto:{contact_email}">{contact_email}</a></p>
					<p>phone<br/>
						{contact_phone}</p>
					<p>twitter<br/>
						<a href="http://www.twitter.com/{contact_twitter}" target="_blank">@{contact_twitter}</a></p>
					<p>linkedIn<br/>
						<a href="{contact_linkedin}" target="_blank">in/anecka</a></p>
				</div>
				<div class="span4">
					{contact_map}
					<p>{contact_address}</p>
				</div>
			</div>
		</section>
		<!-- end talk to us-->
		<hr/>
		<footer class="span12">
			<div class="span8">
        		<p>&copy; Anecka 2012, Licensed under the Apache License, Version 2.0 <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">http://www.apache.org/licenses/LICENSE-2.0</a></p>
				<p>Check out the source for this site on GitHub <a href="https://github.com/patpohler/Anecka">https://github.com/patpohler/Anecka</a></p>
			</div>
    	</footer>
	</div>
	<!-- photo modals -->
	{exp:channel:entries channel="Projects"}
		{image_1}
			<div class="modal hide fade in" id="{filename}">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h3>{url_title}</h3>
			  </div>
			  <div class="modal-body">
			    <img src="{path}{filename}.png" alt="">
				{project_description}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">Close</a>
			  </div>
			</div>
		{/image_1}
		{image_2}
			<div class="modal hide fade in" id="{filename}">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h3>{url_title}</h3>
			  </div>
			  <div class="modal-body">
			    <img src="{path}{filename}.png" alt="">
				{project_description}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">Close</a>
			  </div>
			</div>
		{/image_2}
		{image_3}
			<div class="modal hide fade in" id="{filename}">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h3>{url_title}</h3>
			  </div>
			  <div class="modal-body">
			    <img src="{path}{filename}.png" alt="">
				{project_description}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">Close</a>
			  </div>
			</div>
		{/image_3}
	{/exp:channel:entries}
	<!-- Placed at the end of the document so the pages load faster -->
    <script src="{site_url}js/bootstrap-transition.js"></script>
    <script src="{site_url}js/bootstrap-alert.js"></script>
    <script src="{site_url}js/bootstrap-modal.js"></script>
    <script src="{site_url}js/bootstrap-dropdown.js"></script>
    <script src="{site_url}js/bootstrap-scrollspy.js"></script>
    <script src="{site_url}js/bootstrap-tab.js"></script>
    <script src="{site_url}js/bootstrap-tooltip.js"></script>
    <script src="{site_url}js/bootstrap-popover.js"></script>
    <script src="{site_url}js/bootstrap-button.js"></script>
    <script src="{site_url}js/bootstrap-collapse.js"></script>
    <script src="{site_url}js/bootstrap-carousel.js"></script>
    <script src="{site_url}js/bootstrap-typeahead.js"></script>
</body>
</html>