<!DOCTYPE html>
<html lang="en">
<head>
	{site_header}
</head>
<body>
	{site_nav}
	<div class="container">
		{exp:channel:entries channel="Welcome" }
		<section id="welcome">
		<div id="myCarousel" class="carousel slide" data-interval="10000" data-pause="hover">
			<div class="carousel-inner">	
				<div class="active item">
					<div class="hero-unit rotate-unit orange-bk white-fore">
						<h1>{eyecatch}</h1>
			        	<p id="tagline">{tagline}</p>
			        	<!--<p><a href="#our_work" class="btn btn-primary btn-large">See our work &raquo;</a></p>-->
			      	</div>
				</div>
				<div class="item">
					<div class="hero-unit rotate-unit blue-bk white-fore">
						<h1>We Love <i>ExpressionEngine&reg;</i>!</h1>
			        	<p id="tagline">We combine a deep understanding of the <i>ExpressionEngine&reg;</i> platform paired with expertise in developing custom add-ons and full-scale web applications.</p>
			        	<!--<p><a href="#our_work" class="btn btn-primary btn-large">See our work &raquo;</a></p>-->
			      	</div>
				</div>
				<div class="item">
					<div class="hero-unit rotate-unit green-bk white-fore">
		        		<h1>PDF Press</h1>
			        	<p id="tagline">Save your <i>ExpressionEngine&reg;</i> Templates to PDF In Seconds! No 3rd party service (or monthly fee) required!</p>
						<p><a href="{path='pdf_press'}" onclick="_gaq.push(['_trackEvent', 'Carousel', 'Click', 'PDF Press Call To Action']);" class="btn btn-primary btn-large">Learn More &amp; Download &raquo;</a></p>
					</div>
				</div>
				
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev" onclick="_gaq.push(['_trackEvent', 'Carousel', 'Click', 'Previous']);">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next" onclick="_gaq.push(['_trackEvent', 'Carousel', 'Click', 'Next']);">&rsaquo;</a>
		</div>
		
		<!--end welcome (hero)-->
		<div class="row pad_bottom_large">
			{welcome_columns}
        	<div class="span4">
				<h2>{title}</h2>
	           <p>{content}</p>
	        </div>
			{/welcome_columns}
      	</div>
		<!-- end welcome -->
		</section>
		{/exp:channel:entries}
		<!--our work-->
		<section id="our_work">
			<div class="row pad_bottom_large">
				<h1 class="pad_bottom_medium span12">Our work</h1>
				<div class="tabbable tabs-left pad_bottom_large span12">
					<!--clients-->
					<ul class="nav nav-tabs span4">
						{exp:channel:categories category_group="1" show_empty="no" style="linear"}
							<li {if "{count}" == "1"}class="active"{/if}><a href="#tab{category_id}" data-toggle="tab">{category_name}</a></li>
						{/exp:channel:categories}
					</ul>
					<div class="tab-content span6">
						{exp:channel:categories category_group="1" show_empty="no" style="linear"}
							<div class="tab-pane fade {if "{count}" == "1"}in active{/if}" id="tab{category_id}">
								{embed="site/_projects" category_id="{category_id}"}
							</div>
						{/exp:channel:categories}
					</div>
				</div>
			</div>
		</section>
		<!-- end our work-->
		<!-- what others are saying -->
		<section id="others_saying">
			<div id="others_saying" class="row pad_bottom_large">
				<h1 class="span12 pad_bottom_medium">Testimonials</h1>
				{exp:channel:entries channel="Testimonials"}
					<div class="span4">
						<blockquote>{quote} <p><strong>- {client}</strong></blockquote>
						
					</div>
				{/exp:channel:entries}
			</div>
		</section>
		<!-- /what others are saying -->
		<!-- start "know us" -->
		<section id="know_us_better">
			<div id="know_us_better" class="row pad_bottom_large">
				<h1 class="span12 pad_bottom_medium">Know us better</h1>
				{exp:channel:entries channel="Staff"}
				<div class="span3">
					<img src="{staff_photo}" alt="{title}" style="border-radius: 6px;">
				</div>
				<div class="span8">
					<h3>{title} : {staff_role}</h1>
					<hr/>
					{staff_bio}
				</div>
				{/exp:channel:entries}
			</div>
		</section>
		<!-- end "know us" -->
		<!-- talk to us -->
		<section id="talk_to_us">
			<div class="row pad_bottom_large">
				<h1 class="span12 pad_bottom_medium">Talk to us</h1>
				<div class="span4">
					<p>email<br/>
						<a href="mailto:{contact_email}">{contact_email}</a></p>
					<p>phone<br/>
						{contact_phone}</p>
					<p>twitter<br/>
						<a href="http://www.twitter.com/{contact_twitter}" target="_blank">@{contact_twitter}</a></p>
					<p>linkedIn<br/>
						<a href="{contact_linkedin}" target="_blank">in/anecka</a></p>
				</div>
				{!--
				<div class="span4">
					{contact_map}
					<p>{contact_address}</p>
				</div>
				--}
			</div>
		</section>
		<!-- end talk to us-->
		<hr/>
		{site_footer}
	</div>
	<!-- photo modals -->
	{exp:channel:entries channel="Projects"}
		{image_1}
			<div class="modal hide fade in" id="{filename}">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h3>{url_title}</h3>
			  </div>
			  <div class="modal-body">
			    <img src="{path}{filename}.png" alt="">
				{project_description}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">Close</a>
			  </div>
			</div>
		{/image_1}
		{image_2}
			<div class="modal hide fade in" id="{filename}">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h3>{url_title}</h3>
			  </div>
			  <div class="modal-body">
			    <img src="{path}{filename}.png" alt="">
				{project_description}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">Close</a>
			  </div>
			</div>
		{/image_2}
		{image_3}
			<div class="modal hide fade in" id="{filename}">
			  <div class="modal-header">
			    <button class="close" data-dismiss="modal">×</button>
			    <h3>{url_title}</h3>
			  </div>
			  <div class="modal-body">
			    <img src="{path}{filename}.png" alt="">
				{project_description}
			  </div>
			  <div class="modal-footer">
			    <a href="#" class="btn" data-dismiss="modal">Close</a>
			  </div>
			</div>
		{/image_3}
	{/exp:channel:entries}
	<!-- Placed at the end of the document so the pages load faster -->
    {site_js}
</body>
</html>