<!-- Placed at the end of the document so the pages load faster -->
<script src="{site_url}js/bootstrap-transition.js"></script>
<script src="{site_url}js/bootstrap-alert.js"></script>
<script src="{site_url}js/bootstrap-modal.js"></script>
<script src="{site_url}js/bootstrap-dropdown.js"></script>
<script src="{site_url}js/bootstrap-scrollspy.js"></script>
<script src="{site_url}js/bootstrap-tab.js"></script>
<script src="{site_url}js/bootstrap-tooltip.js"></script>
<script src="{site_url}js/bootstrap-popover.js"></script>
<script src="{site_url}js/bootstrap-button.js"></script>
<script src="{site_url}js/bootstrap-collapse.js"></script>
<script src="{site_url}js/bootstrap-carousel.js"></script>
<script src="{site_url}js/bootstrap-typeahead.js"></script>