<div id="navTop" class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container">
      		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
        		<span class="icon-bar"></span>
      		</a>
      		<a class="brand" href="{path='site/index'}">Anecka</a>
      		<div class="nav-collapse">
        		<ul class="nav">
          			<li><a href="{path='site/index'}#welcome">Welcome</a></li>
          			<li><a href="{path='site/index'}#our_work">Our Work</a></li>
					<li><a href="{path='site/index'}#others_saying">Testimonials</a></li>
          			<li><a href="{path='site/index'}#know_us_better">Know Us Better</a></li>
					<li><a href="{path='site/index'}#talk_to_us">Talk to Us</a></li>
					<li><a href="{path='pdf_press'}">PDF Press</a></li>
        		</ul>
				<!--
				<div class="btn-toolbar pull-right">
					<div class="btn-group">
						<a class="btn btn-primary btn-small" href="{path='pdf_press'}">PDF Press</a>
					</div>
				</div>
				-->
      		</div><!--/.nav-collapse -->
    	</div>
  	</div>
</div>